<!DOCTYPE html>
<html>
<head>
  <title>DocytDemo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="page-container">
    <%= render 'shared/main_nav' %>
    <div class="page-content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
